[submodule "Hasaki/vendor/spdlog"]
	path = Hasaki/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hasaki/vendor/GLFW"]
	path = Hasaki/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
